header{
    background-color: white;
    color: white;
    height: 1%;
    width: 100%;
	z-index: 10;
	position: fixed;
    font-weight: 100;
}
/* header {
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(14, 23, 61, 0.7), rgb(59, 75, 85)),
      url(../Images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  } */
.header-logo{
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;

}

.header-logo > img {
    width: 70%;
}

li a{
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px;
    transition: all ease 0.5s;
}

li{
    float: right;
    padding-left: 30px;
    padding-top: 30px;
    list-style: none;
    padding-right: 40px;
    font-size: 24px;
}

header ul li a:hover{
    background-color:rgba(220,20,60);
    color: white;
}
